# Auto detect text files and perform LF normalization
* text=auto

# consider HLSL files as C language
* .hlsl linguist-language=C
* .fx linguist-language=C
* .ush linguist-language=C
* .usf linguist-language=C
